@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ****************roboto_thin ************* */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}


a.active hr{
  display: block;
}

.josefin_sans{
  font-family: "Josefin Sans", sans-serif; 
}

.roboto_thin {
  font-family: "Roboto", sans-serif;
}